.image-transition > img {
    transition: scale 300ms ease, opacity 350ms linear;
}

.image-transition:has(img:hover) img:not(:hover) {
    scale: .95;
    opacity: .6;
}

.image-transition:not(:hover) p {
    display: none;
}

.image-transition {
    font-family: 'Dank Mono', sans-serif;
}

